<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/Content/app.css">
</head>
<body>
    <!-- hero section-->
    <section id="hero">
        <div class="hero con">
            <div>                
                <h1> Welcome,<span> </span></h1>
                <h1>My Name is<span> </span></h1>
                <h1>Vince Ariola<span> </span></h1>
                
                <!--<a href="#" type="button" class="cta"><h2>Portfolio</h2></a> -->
            </div>
        </div>
    </section>
</body>
</html>

<%- include partials/bottom_nav.ejs %>
 <%- include partials/footer.ejs %>
